* {
    margin: 0px;
    padding: 0px;
    font-family: barlow;
    box-sizing: border-box;
}

body {
    background-color: #ededed;
}

.container {
    background-color: #ededed;
    min-height: 100vh;
    max-width: 100%;
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}


/*----Start of header----*/
header {
    background-color: transparent;
    padding: 20px;
    display: flex;
}

header h1{
    font-family: Moirai one;
    font-size: 54px;
    color: #da0037;
    margin-right: auto;
    margin-left: 20px;
    transition: .5s;

}

header h1:hover {
    color: #171717;
    transition: .5s;
    cursor: pointer;
}
/*----End----*/


/*----Start of nav----*/
nav ul {
    display: flex;
    padding: 30px;
}

nav ul li {
    padding-left: 200px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #171717;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 700;
    transition: 0.5s;
}

nav ul li a:hover {
    color: #da0037;
    transition: 0.5s;
}
/*----End----*/


/*----Start of hero section----*/
.hero-section {
    display: flex;
    max-height: 100vh;
}

.hero {
    width: 100%;
    padding: 8%;
    padding-top: 6%;
    padding-right: 0px;
}

.hero h1 {
    font-size: 98px;
    font-weight: 900;
    letter-spacing: 2px;
    padding: 20px;
}

.hero p {
    font-size: 26px;
    padding: 20px;
}

.hero button {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 20px;
    margin: 20px;
    color: #ededed;
    background-color: #da0037;
    border: #da0037 2px solid;
    cursor: pointer;
    transition: 0.5s;
}

.hero button:hover {
    background-color: #ededed;
    color: #171717;
    border: #171717 2px solid;
    transition: 0.5s;
}

/*-----Start of Medi Q (hero-section)-----*/

@media (max-width: 1400px){
    .hero-section {

    }

}

@media (max-width: 1100px){
    header h1 {
        font-size: 44px;

    }

    nav ul li {
        font-size: 12px;
    }
    
    .hero-section {
        width: 100%;
        flex-wrap: wrap;
    }

    .hero h1 {
        width: 75vw;
        font-size: 78px;
    }

    .hero p {
        font-size: 24px;
    }
}

@media (max-width: 992px) {
    header h1 {
        font-size: 44px;

    }
    
    .hero-section {
        width: 100%;
        flex-wrap: wrap;
    }

    .hero h1 {
        width: 75vw;
        font-size: 58px;
    }

    .hero p {
        font-size: 22px;
    }
}

@media (max-width:650px) {
    header h1 {
        font-size: 34px;

    }
    
    .hero-section {
        width: 100%;
        flex-wrap: wrap;
    }

    .hero h1 {
        width: 75vw;
        font-size: 58px;

    }

    .hero p {
        font-size: 20px;
    }
}

@media (max-width: 550px) {
    header h1 {
        font-size: 34px;
        margin-left: 0px;
        margin-top: 13px;
    }

    nav ul li {
        padding-left: 40px;
    }

    nav ul li a {
        font-size: 14px;
    }

    .hero-section {
        width: 100%;
        max-width: 500px;
        height: auto;
    }

    .hero h1 {
        width: 75vw;
        font-size: 58px;
    }

    .hero p {
        font-size: 18px;
    }
}
/*----End----*/


/*----Start of socials----*/
.hero-right {
    background-color: transparent;
    height: 400px;
    width: 60px;
    margin-left: auto;
    margin-top: 8%;
    border-radius: 2px;
}

span {
    display: grid;
    justify-content: center;
}

.fa {
    text-decoration: none;
}

.fa-github,
.fa-linkedin,
.fa-instagram {
    color: #171717;
    margin-top: 70px;
    transition: .5s;
}

.fa-github:hover,
.fa-linkedin:hover,
.fa-instagram:hover {
    color: #da0037;
    transition: .5s;
}

/*-----Start of Media Q (socials)-----*/
@media (max-width: 550px) {
    .hero-right {
        width: 100%;
        max-width: 500px;
        height: auto;
        margin-left: 0px;
        margin-top: 0px;
    }

    span {
        display: flex;
        width: fit-content;
    }
   
    .fa-github,
    .fa-linkedin,
    .fa-instagram {
        margin-left: 80px;
    }

}
/*----End----*/


/*----Start of featured----*/
.featured-container {
    background-color: #171717;
    min-height: 75vh;
}

.featured h1 {
    font-size: 48px;
    color: #ededed;
    font-weight: 800;
    padding: 40px;
}

.featured-top-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.featured-top {
    border: #ededed 2px solid;
    height: 380px;
    width: 1000px;
    margin-left: 40px;
}

.featured-top2 {
    border: #ededed 2px solid;
    height: 380px;
    width: 830px;
    min-width: 480px;
    margin-left: 40px;
    margin-right: 40px;
}

.featured-bottom-container {
    display: flex;
    margin-top: 40px;
    padding-bottom: 40px;
}

.featured-bottom {
    border: #ededed 2px solid;
    height: 380px;
    width: 480px;
    min-width: 480px;
    margin-left: 40px;
}

.featured-bottom2 {
    border: #ededed 2px solid;
    height: 380px;
    width: 480px;
    min-width: 480px;
    margin-left: 40px;
}

.featured-bottom3 {
    border: #ededed 2px solid;
    height: 380px;
    width: 830px;
    min-width: 480px;
    margin-left: 40px;
    margin-right: 40px;
}
